@model FlyingClub.WebApp.Models.MemberViewModel

@{
    ViewBag.Title = String.Concat("Member: ", Model.FirstName, " ", Model.LastName);
}

@Html.PageTitle(PageTitleImage.Member, "Member", String.Format("{0} {1}", Model.FirstName, Model.LastName))
<p>@Html.MvcSiteMap().SiteMapPath()</p>

<fieldset>
    <legend>Member</legend>

    <div class="display-label">UserName</div>
    <div class="display-field">
        @Html.ActionLink(Model.UserName, "Details", "Account", new { Id = Model.LoginId }, null)
    </div>

    <div class="display-label">PIN</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MemberPIN)
    </div>

    <div class="display-label">Status</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Status)
    </div>

    <div class="display-label">FirstName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FirstName)
    </div>

    <div class="display-label">LastName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastName)
    </div>

    <div class="display-label">Phone</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Phone)
    </div>

    <div class="display-label">AltPhone</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AltPhone)
    </div>

    <div class="display-label">AddressLine_1</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AddressLine_1)
    </div>

    <div class="display-label">AddressLine_2</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AddressLine_2)
    </div>

    <div class="display-label">City</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.City)
    </div>

    <div class="display-label">Zip</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Zip)
    </div>

    <div class="display-label">MemberSince</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MemberSince)
    </div>

    <div class="display-label">LastMedical</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastMedical)
    </div>

    <div class="display-label">TotalHours</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TotalHours)
    </div>

    <div class="display-label">RetractHours</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RetractHours)
    </div>

    <div class="display-label">EmergencyName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EmergencyName)
    </div>

    <div class="display-label">EmergencyPhone</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EmergencyPhone)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
