@model FlyingClub.WebApp.Models.MemberViewModel
@{
    ViewBag.Title = String.Concat("Member: ", Model.FirstName, " ", Model.LastName);
}

@Html.PageTitle(PageTitleImage.Member, "Member", String.Format("{0} {1}", Model.FirstName, Model.LastName))
<p>@Html.MvcSiteMap().SiteMapPath()</p>

<fieldset>
    <legend>Account Information</legend>
    <div class="detail-block">
        <div class="detail-label">@Html.LabelFor(model => model.UserName)</div>
        <div class="detail-field">
            @Html.ActionLink(Model.UserName, "Details", "Account", new { Id = Model.LoginId }, null)
        </div>

        <div class="detail-label">@Html.LabelFor(model => model.MemberPIN)</div>
        <div class="detail-field">
            @Html.DisplayFor(model => model.MemberPIN)
        </div>

        <div class="detail-label">@Html.LabelFor(model => model.Status)</div>
        <div class="detail-field">
            @Html.DisplayFor(model => model.Status)
        </div>

        <div class="detail-label">@Html.LabelFor(model => model.FirstName)</div>
        <div class="detail-field">
            @Html.DisplayFor(model => model.FirstName)
        </div>

        <div class="detail-label">@Html.LabelFor(model => model.LastName)</div>
        <div class="detail-field">
            @Html.DisplayFor(model => model.LastName)
        </div>
    </div>
</fieldset>

<fieldset>
    <legend>Contact Information </legend>
    <div class="detail-block">
        <div class="detail-label">@Html.LabelFor(model => model.Phone)</div>
        <div class="detail-field">
            @Html.DisplayFor(model => model.Phone)
        </div>

        <div class="detail-label">@Html.LabelFor(model => model.AltPhone)</div>
        <div class="detail-field">
            @Html.DisplayFor(model => model.AltPhone)
        </div>

        <div class="detail-label">@Html.LabelFor(model => model.AddressLine_1)</div>
        <div class="detail-field">
            @Html.DisplayFor(model => model.AddressLine_1)
        </div>

        <div class="detail-label">@Html.LabelFor(model => model.AddressLine_2)</div>
        <div class="detail-field">
            @Html.DisplayFor(model => model.AddressLine_2)
        </div>

        <div class="detail-label">@Html.LabelFor(model => model.City)</div>
        <div class="detail-field">
            @Html.DisplayFor(model => model.City)
        </div>

        <div class="detail-label">@Html.LabelFor(model => model.Zip)</div>
        <div class="detail-field">
            @Html.DisplayFor(model => model.Zip)
        </div>

        <div class="detail-label">@Html.LabelFor(model => model.PrimaryEmail)</div>
        <div class="detail-field">
            @Html.DisplayFor(model => model.PrimaryEmail)
        </div>
        <div class="detail-label">@Html.LabelFor(model => model.SecondaryEmail)</div>
        <div class="detail-field">
            @Html.DisplayFor(model => model.SecondaryEmail)
        </div>
        <div class="detail-label">@Html.LabelFor(model => model.Phone)</div>
        <div class="detail-field">
            @Html.DisplayFor(model => model.Phone)
        </div>
        <div class="detail-label">@Html.LabelFor(model => model.AltPhone)</div>
        <div class="detail-field">
            @Html.DisplayFor(model => model.AltPhone)
        </div>
    </div>
</fieldset>

<fieldset>
    <legend>Pilot Information </legend>
    <div class="detail-block">
        <div class="detail-label">@Html.LabelFor(model => model.MemberSince)</div>
        <div class="detail-field">
            @Html.DisplayFor(model => model.MemberSince)
        </div>

        <div class="detail-label">@Html.LabelFor(model => model.LastMedical)</div>
        <div class="detail-field">
            @Html.DisplayFor(model => model.LastMedical)
        </div>

        <div class="detail-label">@Html.LabelFor(model => model.TotalHours)</div>
        <div class="detail-field">
            @Html.DisplayFor(model => model.TotalHours)
        </div>

        <div class="detail-label">@Html.LabelFor(model => model.RetractHours)</div>
        <div class="detail-field">
            @Html.DisplayFor(model => model.RetractHours)
        </div>

        <div class="detail-label">@Html.LabelFor(model => model.EmergencyName)</div>
        <div class="detail-field">
            @Html.DisplayFor(model => model.EmergencyName)
        </div>

        <div class="detail-label">@Html.LabelFor(model => model.EmergencyPhone)</div>
        <div class="detail-field">
            @Html.DisplayFor(model => model.EmergencyPhone)
        </div>
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
