@model FlyingClub.WebApp.Models.ReservationViewModel

@{
    ViewBag.Title = String.Concat("Reservation: ", Model.Aircraft.RegistrationNumber);
}

@Html.PageTitle(PageTitleImage.Reservation, "Reservations", Model.Aircraft.Name)
<p>@Html.MvcSiteMap().SiteMapPath()</p>

<fieldset>
    <legend>Reservation</legend>
<div class="detail-block">
    <div class="detail-label">Pilot</div>
    <div class="detail-field">
        @Html.DisplayFor(model => model.Member.FirstName) @Html.DisplayFor(model => model.Member.LastName)
    </div>

    <div class="detail-label">Aircraft</div>
    <div class="detail-field">
        @Html.DisplayFor(model => model.Aircraft.RegistrationNumber)
    </div>

    <div class="detail-label">Start Date</div>
    <div class="detail-field">
        @Model.StartDate.ToString("M/dd/yyyy HH:mm")
    </div>

    <div class="detail-label">End Date</div>
    <div class="detail-field">
        @Model.EndDate.ToString("M/dd/yyyy HH:mm")
    </div>

    <div class="detail-label">Instructor</div>
    <div class="detail-field">
        @Html.DisplayFor(model => model.Instructor.FullName)
    </div>

    <div class="detail-label">Destination</div>
    <div class="detail-field">
        @Html.DisplayFor(model => model.Destination)
    </div>

    <div class="detail-label">Notes:</div>
    <div class="detail-field">
        @Html.DisplayFor(model => model.Notes)
    </div>
</div>
</fieldset>
<p>
    @if (Model.CanEdit()) {
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) @:|
    }
    @if (Model.CanDelete()) {
    @Html.ActionLink("Cancel Reservation", "Delete", new { id = Model.Id }) @:|
    }
    @Html.ActionLink("Back to My Reservations", "Index") |
    @Html.ActionLink("Back to Week View", "AircraftByWeek", new { aircraftId = Model.Aircraft.Id, startDate = Model.StartDate.ToString("MM/dd/yyyy")})
</p>